.homepage {
    background-color: #2a1f2d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.homepage .overlap-group-wrapper {
    background-color: #2a1f2d;
    height: 832px;
    overflow: hidden;
    width: 1280px;
}

.homepage .overlap-group {
    height: 889px;
    left: -145px;
    position: relative;
    top: 20px;
    width: 1546px;
}

.homepage .text-wrapper {
    color: #f5f5f5;
    font-family: "Inter-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 392px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 320px;
    width: 786px;
}

.homepage .div {
    -webkit-text-stroke: 1px #000000;
    color: #f5f5f5;
    font-family: "Inter-Regular", Helvetica;
    font-size: 96px;
    font-weight: 400;
    left: 391px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 205px;
    width: 786px;
}

.homepage .ellipse {
    background-color: #d9d9d9;
    border-radius: 306.5px / 273.5px;
    height: 547px;
    left: 933px;
    position: absolute;
    top: 342px;
    width: 613px;
}

.homepage .login {
    all: unset;
    align-items: center;
    background-color: #7e6783;
    border-radius: 40px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    height: 86px;
    justify-content: center;
    left: 506px;
    padding: 20px 40px;
    position: absolute;
    top: 428px;
    width: 250px;
}

.homepage .button {
    all: unset;
    box-sizing: border-box;
    color: #f5f5f5;
    font-family: "Inter-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.homepage .button-wrapper {
    all: unset;
    align-items: center;
    background-color: #7e6783;
    border-radius: 40px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    height: 86px;
    justify-content: center;
    left: 810px;
    padding: 20px 40px;
    position: absolute;
    top: 428px;
    width: 250px;
}

.homepage .ellipse-2 {
    background-color: #c9c19f;
    border-radius: 213.5px / 200.5px;
    height: 401px;
    left: 1060px;
    position: absolute;
    top: 471px;
    width: 427px;
}

.homepage .polygon {
    height: 170px;
    left: 1182px;
    position: absolute;
    top: 361px;
    width: 177px;
}

.homepage .img {
    height: 176px;
    left: 953px;
    position: absolute;
    top: 588px;
    width: 171px;
}

.homepage .ellipse-3 {
    background-color: #fcf7f7;
    border-radius: 139.5px / 133.5px;
    height: 267px;
    left: 1208px;
    position: absolute;
    top: 605px;
    width: 279px;
}

.homepage .ellipse-4 {
    height: 139px;
    left: 1184px;
    position: absolute;
    top: 584px;
    width: 157px;
}

.homepage .ellipse-5 {
    background-color: #4a394e;
    border-radius: 22.5px / 12.5px;
    height: 25px;
    left: 1251px;
    position: absolute;
    top: 659px;
    transform: rotate(-36.36deg);
    width: 45px;
}

.homepage .ellipse-6 {
    background-color: #4a394e;
    border-radius: 17.38px / 13.28px;
    height: 27px;
    left: 1140px;
    position: absolute;
    top: 680px;
    transform: rotate(-36.36deg);
    width: 35px;
}

.homepage .ellipse-7 {
    background-color: #4a394e;
    border-radius: 17.38px / 13.28px;
    height: 27px;
    left: 1301px;
    position: absolute;
    top: 550px;
    transform: rotate(-36.36deg);
    width: 35px;
}

.homepage .ellipse-8 {
    background-color: #66c7f4;
    border: 1px solid;
    border-color: #000000;
    border-radius: 232px / 204.5px;
    height: 409px;
    left: 0;
    position: absolute;
    top: 0;
    width: 464px;
}

.homepage .ellipse-9 {
    background-color: #3c787e;
    border-radius: 122.5px / 47px;
    height: 94px;
    left: 43px;
    position: absolute;
    top: 110px;
    width: 245px;
}

.homepage .ellipse-10 {
    background-color: #3c787e;
    border-radius: 122.5px / 47px;
    height: 94px;
    left: 78px;
    position: absolute;
    top: 194px;
    transform: rotate(27.24deg);
    width: 245px;
}
